header.header
  .header__top#header-top
    .container
      .header__inner
        img.header__logo(
          src="images/logo.svg", 
          alt="logotype Danish Crown").logo
        button.button.button-apply-header.animate__animated#apply(data-scrollto="#form") Apply now
  section.hero
    .container
      .hero__inner
        video(muted="" src="#" width="100%" height="100%").hero__video
        img(src="images/background-hero.png" alt="careers at danish crown. let't work together").hero__video-poster
        .hero__text 
          img.hero__logo(src="images/crown-icon.svg" alt="danish careers logo crown")
          h1.hero__title CAREERS AT DANISH CROWN
          h2.hero__subtitle Let’s work together
      .hero__info(data-scrollspy="animate__fadeInUp")
        h2 Are you the future of Danish Crown?
        p Working at Danish Crown’s site in Bugle, you’ll be thriving at the core of our business, in one of the oldest crafts in the world.  From our Trainee Butcher apprenticeship programme to Operator and Production roles. Danish Crown provides an exceptional level of support, tailored to you, to give you the recipe for a successful rewarding career.
        button.button-apply.button(data-scrollto="#form") Apply now
        img.arrow(src="images/arrow-right.svg" alt="arrow icon")
