section.uk-section.section-about
  .uk-container
    div(data-uk-grid)
      div(class="uk-width-1-2@m" data-uk-scrollspy="cls: visible animate__fadeInLeft animate__animated; delay: 0; repeat: false;")
        article.article
          h2.uk-text-primary What’s inside?

          h3 2020 was a tough old year; in the last 12 months, we’ve all had to deal with changes and challenges no one could have predicted.

          p COVID-19 is an emergency we’ve all responded to as best we can, but with a light at the end of the tunnel, it’s time to start thinking about the next step...recovery.

          p This is the latest installment of a three-part white paper series by WeLove9am, exploring the impact of COVID-19 on Employer Branding, and offering practical solutions for organisations to strengthen organisational culture, talent acquisition and candidate attraction.

          p In our second paper, we take a deep dive into today’s evolving workforce. Because, in case you’ve been living under a rock, a lot has changed around here!

          p The talent pool has changed drastically over the last year, and that it will continue to change over the next six months or more, as we emerge from this pandemic.

          h2.uk-text-primary Who are we?

          p Say hello to an award-winning Employer Branding & Candidate Marketing Agency! But you can call us WeLove9am...

          p We’re revolutionising the way people experience the world of work.

          p Where others stop, we continue. We go beyond, to help you unleash and nurture a positive company culture that continually grows the talent you have, and attracts the talent you need.

          strong We call it Employer Branding that goes beyond.
      div(class="uk-width-1-2@m" data-uk-scrollspy="cls: visible animate__fadeInRight animate__animated; delay: 0; repeat: false;").highlights
        h2.uk-text-primary Highlights
        ul.highlights__list
          li.highlights__item
            .highlights__item-img-wrap
              img(src="images/changing-workforce.svg" alt="changing workforce")
            p.highlights__item-text The changing workforce profile and how to analyse your own workforce.
          li.highlights__item
            .highlights__item-img-wrap
              img(src="images/laptop.svg" alt="changing workforce")
            p.highlights__item-text Are you ready for long-term remote working in 2021?
          li.highlights__item
            .highlights__item-img-wrap
              img(src="images/light.svg" alt="changing workforce")
            p.highlights__item-text Understand the state of the UK talent pool today & much more!