section.uk-section.section-covid-recovery.uk-padding-remove-bottom
  .uk-container 
    div(data-uk-grid).uk-flex.uk-flex-middle.uk-flex-wrap
      div(class="uk-width-1-2@m" data-uk-scrollspy="cls: visible animate__fadeInDown animate__animated; delay: 250; repeat: false;")
        h1 COVID recovery: the future of talent management...
        p.color-inverse We’re giving you the tools to not only understand, but analyse your multigenerational workforce and how to utilise your people to recover from this pandemic. Ready to dive in? Enter your work email to start.

        form(action="" method="get" data-uk-grid).uk-grid-small
          div(class="uk-width-3-4@s")
            input(type="text" placeholder="Work email address").uk-input
          div(class="uk-width-1-4@s")
            button(type="submit" class="uk-width-auto@s").uk-button.uk-button-primary.uk-width-1-1 Download
      div(class="uk-width-1-2@m" data-uk-scrollspy="cls: visible animate__fadeInUp animate__animated; delay: 500; repeat: false;").section-covid-recovery__book
        img(src="images/covid-recovery.png", alt="covid recovery", srcset="images/covid-recovery.png, images/covid-recovery@2x.png 2x")