html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: $primary-color;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

input {
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}

b,
strong {
  font-weight: 700;
}

// .page-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.main {
  flex-grow: 1;
}

.header,
.footer {
  flex-grow: 0;
}
