// stylelint-disable no-empty-source
@font-face {
  font-family: "Crown Regular";
  src: url("../fonts/DanishCrownText-Regular.woff") format("woff"),
    url("../fonts/DanishCrownText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Crown Bold";
  src: url("../fonts/DanishCrownDisplay-Bold.woff") format("woff"),
    url("../fonts/DanishCrownDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
