// Overrides of UIkit v3 global variables + custom variables

// Global variables
// ========================================================================

//
// Colors
//

$primary-color: #ffdce3;
$secondary-color: #005151;
$button-color: #f5492b;

$text-color: #050505;
$text-color-white: #ffffff;
$background-default: #ffffff;
$background-red: #f5492b;

//
// Typography
//

$font-family: "Crown Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-title: "Crown Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

$transition-duration: 0.3s;
